@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    color: #000000;
    background-color: inherit;
    font-family: Roboto;
    align-content: center;
    transition: all 1s ease-in-out;
    /*Stolen from https://www.w3schools.com/cssref/css3_pr_user-select.asp */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10+ and Edge */
    user-select: none;
    /* Standard syntax */
    text-align: center
}

body {
    background-color: #efbbff;
}

.header {
    size: 15px;
}

.subtitle {
    width: max-content;
    text-align: center;
    border-radius: 4px;
    margin: auto;
}

.subtitle:hover {
    color: darkgrey;
}

.container {
    position: relative;
    height: 100%;
}

.spicy-box {
    background: #e7e7ff;
    padding: 5px 5px;
    box-shadow: 0px 0px 1px 1px #9ACDFF;
    width: fit-content;
    border-radius: 4px;
    margin: auto;
}

.spicy-box:hover {
    box-shadow: 0px 0px 5px 5px #6cb5fd;
    border-radius: 100px;
}

.box {
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0 2px 5px #1f1f1f;
    width: fit-content;
    max-width: 500px;
    border-radius: 4px;
    margin: auto;
}

.box:hover {
    border-radius: 50px;
}

.blur {
    filter: blur(3px);
}

.blur:hover {
    filter: none;
    color: white;
    opacity: 1;
}

a {
    background-color: inherit;
}

a:visited {
    color: #3224ad;
    text-decoration: none;
    background-color: inherit;
}

a:link {
    color: #3994db;
    text-decoration: none;
    background-color: inherit;
}

a:hover {
    text-decoration: underline;
    filter: hue-rotate(45deg);
}

footer {
    font-size: xx-small;
}

footer:hover {
    font-size: small;
}