@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=VT323&display=swap');
* {
    background-color: #000000;
    color: #bcbcbc;
    font-family: Anonymous Pro;
    text-shadow: 5px 5px 10px;
    align-content: center;
    transition: all 1s;
    /*Stolen from https://www.w3schools.com/cssref/css3_pr_user-select.asp */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.header {
    font-family: Anonymous Pro;
}

.header:hover {
    animation: glow 1s ease-in-out infinite alternate;
}

.subtitle {
    font-family: Anonymous Pro;
}

.header:hover:before {
    content: ">";
}

.subtitle:hover:before {
    content: ">>>";
}

.container {
    position: relative;
    height: 100%;
    background-color: black;
}

.footer {
    position: absolute;
    bottom: sticky;
    font-size: xx-small;
}

.footer:hover {
    font-size: medium;
}

.emphasised {
    color: #ff0000;
}

.con-edit {
    color: #d700ff;
}

.blur {
    filter: blur(3px);
}

.blur:hover {
    filter: none;
    color: white;
    opacity: 1;
    font-size: 130%;
}

.blur:hover:after {
    content: "]"
}

.blur:hover:before {
    content: "[";
}

h1{
    color: yellowgreen;
}

a:visited {
    color: #008000;
    text-decoration: none;
}

a:link {
    color: #00ff00;
    text-decoration: none;
}

a:hover {
    color: #808000;
    text-decoration: underline;
    font-size: 110%;
}

a:active {
    text-decoration: underline;
}

a:hover:before {
    content: "./"
}

hr {
    border: none;
    border-top: 1px dotted yellow;
    color: yellow;
    height: 1px;
}

iframe:hover {
    animation: shake 0.2s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        filter: hue-rotate(0deg);
    }
    10% {
        filter: hue-rotate(-2deg);
    }
    20% {
        filter: hue-rotate(2deg);
    }
    30% {
        filter: hue-rotate(0deg);
    }
    40% {
        filter: hue-rotate(1deg);
    }
    50% {
        filter: hue-rotate(-1deg);
    }
    60% {
        filter: hue-rotate(0deg);
    }
    70% {
        filter: hue-rotate(-1deg);
    }
    80% {
        filter: hue-rotate(1deg);
    }
    90% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(-1deg);
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 100px #fff, 0 0 20px #fff, 0 0 30px #fa4fa5, 0 0 40px #ff66b2, 0 0 50px #ff54a9, 0 0 60px #fd69b3, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}