body{
    position: relative;
    width: 90%;
    height: 100%;
    margin: 4%;

    background-image: linear-gradient(200deg, #20252C, #301934);
    /*background: #20252C;*/
    border-radius: 0.5%;

    font-family: 'Poppins', sans-serif;

    text-align: center;
    color: #EDF4FF;
}

a{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;

    width: 100%;
    height: 100%;
    max-height: fit-content;
}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 200%;

    /* Background/Light/100 */
    color: #EDF4FF;
}

.subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 125%;

    /* Background/Light/300 */
    color: #BCCADF;
}

.minor-title{
    font-style: bold;
    font-weight: 700;
    font-size: 60%;

    /* Background/Light/300 */
    color: #BCCADF;
}

#flex{
    display: flex;
    flex-wrap: wrap;
}

.button{
    box-sizing: border-box;
    color: #DAE9FF;
    font-family: 'Poppins';
    cursor: pointer;

    width: 100%;
    height: 100%;

    /* Text/200 */
    background: #3c424c3f;

    /* Text/300 */
    border: 1px solid #454C56aa;
    border-radius: 5px;
}

.button:hover{
    transition: all 0.5s ease-in-out;
    background: #3c424c99;
}

.icon{
    filter: invert(100%);
}